@font-face {
    font-family: 'lunch';
    src: url("../assets/LUNCH.TTF");
}

body {
  font-family: 'Neucha', cursive;
  font-size: 16px;
}

section {
  margin: 0px 0px 0px 0px;
}

h1 {
  font-family: 'lunch';
  font-size: 400%;

}

h2 {
  font-size: 160%;
  line-height: 1.6em;
  padding-bottom: 10px;
}

p {
  line-height: 1.6em;
  padding-bottom: 10px;
}

section#banner {
  width: 100%;
  height: 100px;
  background: url(../assets/banner.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

figure#logo {
  position: relative;
  margin: 0 auto 15px;
  float: left;
}

section#top {
  background-color: #f6e5b1;
  height: 370px;
}

img {
  display: block;
  width: 100%;
  padding: 5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #555555;
}

a:visited {
  color: #555555;
}

#contact {
  float: left;
  padding-left: 10%;
  text-align: left;
}

#contact li {
  padding: 5px 0px 5px 0px;
}

#nav {
  display: none;
}

#intro {
  height: 580px;
  padding: 10px;
  background-color: #098ef3;
  background-image: url(../assets/background-change.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

#intro-content, #gallery-content {
  color: white;
}

#intro-content, #our-food-content, #gallery-content, #events-content {
  display: block;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

#our-food, #events {
  padding: 10px;
  background-color: #f6e5b1;
  background-image: url(../assets/background-change02.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

#our-food {
  height: 1600px;
}

#our-food h2 {
  background-color: white;
  width: 180px;
  padding: 10px 10px 10px 10px;
  transform: rotate(-4deg);
  margin: 10px 0px 10px 0px;
}

#menu-list li {
  padding-top: 5px;
}

#menu-list {
  list-style-type: initial;
}

#events {
  padding-bottom: 50px;
}


#gallery {
  padding: 10px;
  height: 350px;
  background-color: #098ef3;
  background-image: url(../assets/background-change.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
}

.mySlides {display:none}

.mySlides.fade {
}

.slideshow-container {
  /*max-width: 800px;*/
  position: relative;
  margin: auto;
}

.slideshow-container img {
  display: block;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #098ef3;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: #098ef3;
  color: white;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#festival-list {
  list-style-type: initial;
}

@media (min-width: 500px) {

  h1 {
    font-size: 500%;
  }

  h2 {
    font-size: 180%;
  }

  p {
    font-size: 140%;
  }

  section#banner {
    height: 300px;
    background: url(../assets/banner.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #sister-links {
    width: 150px;
    height: 150px;
  }

  .wrappers-sister-link {

  }

  #contact li {
    font-size: 120%;
  }

  img.logo {
    width: 400px;
    margin-left: 5%;
  }

  #contact {
    float: right;
    padding-right: 10%;
    text-align: right;
    margin-top: 100px;
  }

  #nav a {
    padding: 10px 10px 10px 10px;
    background-color: #dfce9a;
  }

  #nav a:hover {
    color: #333;
  }

  #nav ul li{
    display: inline;
    margin-right: -5px;
    margin-left: -5px;
  }

  #nav ul {
    width: 320px;
  }

  #nav {
    margin-bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 25px;
    position: absolute;
    bottom: 0;
  }

  #nav.fixed {
    position: fixed;
    top: 33%;
}

  #intro-content, #our-food-content, #gallery-content, #events-content {
    width: 800px;
  }

  #intro {
    height: 680px;
  }

  #intro img {
    width: 600px;
    margin: 0 auto;
  }

  #our-food {
    height: 1050px;
  }

  #our-food img {
    display: inline;
  }

  #our-food h2 {
    width: 200px;
  }

  .menu {
    width: 305px;
  }

  .van {
    width: 400px;
  }

  #gallery {
    height: 600px;
  }

  #festival-list {
    font-size: 140%;
  }
}
