@font-face {
    font-family: 'lunch';
    src: url("../assets/LUNCH.TTF");
}

body {
  margin: 0px 0px 0px 0px;
  font-family: 'Neucha', cursive;
}

section {
  margin: 0px 0px 0px 0px;
}

h1 {
  font-family: 'lunch';
  font-size: 100px;
  padding-top: 50px;
  margin: 0px 30px 40px 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

section#banner {
  height: 300px;
  background: url(../assets/banner.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #555555;
}

a:visited {
  color: #555555;
}

#nav-bar a {
  padding: 10px 10px 10px 10px;
  background-color: #dfce9a;
}

#nav-bar a:hover {
  color: #333;
}


#nav-bar ul li{
  display: inline;
  margin-right: -5px;
  margin-left: -5px;
}

#nav-bar ul {
  padding-right: 40px;
  width: 320px;
}


#nav-bar {
  position: absolute;
  margin-top: 177px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #333;
  font-size: 25px;
}

section#top {
  background-color: #f6e5b1;
  height: 200px;
}

#contact {
  float: right;
  padding: 0px 40px 0px 0px;
  font-size: 20px;
}

#contact li {
  padding: 5px 0px 5px 0px;
}

#intro {
  height: 750px;
  background-color: #098ef3;
  background-image: url(../assets/background-change.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

#intro-content, #gallery-content {
  color: white;
}

#intro-content, #our-food-content, #gallery-content, #events-content {
  width: 700px;
  display: block;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

#our-food, #events {
  background-color: #f6e5b1;
  background-image: url(../assets/background-change02.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

#our-food {
  height: 1100px;
}

#events {
  height: 650px;
}

#menu-list {
  list-style-type: initial;
}

#gallery {
  height: 700px;
  background-color: #098ef3;
  background-image: url(../assets/background-change.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
}

.mySlides {display:none}

.mySlides.fade {
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  display: block;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #098ef3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#festival-list {
  list-style-type: initial;
  font-size: 25px;
}
